<% if signed_in? %>
<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  In case of problems
  <%= mail_to "valfells@gmail.com", "email me", :subject => "CRI Dashboard" %>
</p>
<% else %>
<p> Please sign in </p>
<%end%>
