<% @input_items = @user.assigned_inputset_feed.paginate(page: params[:page]) %>
<% if @input_items.any? %>
	<ol class="microposts">
		<div class="accordion" id="accordion2">
			<% @input_items.count.times do |i| %>
				<% @inputset = @input_items[i] %>
				<%=render partial: 'inputs/input_item' %>
			<% end %>
		</div>
	</ol>
	
<% else %>
	<p> Data Sets that <%=@user.name%> are responsible for updating will appear here </p>
<% end %>