<%= form_for(current_user.relationships.build(followed_id: @kpiset.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Track", class: "btn btn-mini btn-primary" %>
<% end %>