<% @kpi_items = current_user.followed_sets %>
<% if @kpi_items.any? %>
	<ol class="microposts">
		<div class="accordion" id="accordion2">
			<% @kpi_items.count.times do |i| %>
				<% @kpiset = @kpi_items[i] %>
				 <%=render partial: 'kpis/kpi_item_tracked' %>
			<% end %>
		</div>
	</ol>
	
<% else %>
	<p> KPIs that you are responsible for updating will appear here </p>
<% end %>